.react-multi-carousel-list {
  overflow: visible !important;
}
.react-multi-carousel-item {
  transition: 0.3s;
  position: relative;
  transform-origin: 50% 1600%;
}
.react-multi-carousel-item:hover {
  transition: 0.3s;
  transform: scale(1.5);
  z-index: 99;
}
