* {
  transform-origin: center center;
}
.react-multi-carousel-list {
  overflow: visible !important;
  transform-origin: center center;
}
.react-multi-carousel-item {
  transition: 0.3s;
  position: relative;
  transform-origin: center center;
}
.react-multi-carousel-item:hover {
  transition: 0.3s;

  transform: scale(1.4);
  transform-origin: center center;

  z-index: 99;
}
.item {
  transform-origin: center center;
}
